#login-modal-list
	.modal-menu
		width:	300px;
		padding: 15px;

#login-modal-list
	#forgot-password-link
	#signup-link
		margin-top:0px;

	.btn
		margin-top: 5px;
		float: none;

	input
		margin:0px
		border-radius:0px;

	input:first-of-type
		margin-top:0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

	input:last-of-type
		margin-bottom:5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

.modal-backdrop
	opacity: 0.75;

#login-buttons-reset-password-modal, #login-buttons-enroll-account-modal
	.modal-content
		margin-top: 30%;

.login-buttons-modal
	&#login-buttons + li
		.modal-menu
			left: 0;
			right: auto;

#login-buttons
	display: none;

#login-modal-list a
	cursor: pointer;

#configure-login-service-dialog-modal
	position: fixed;
	left: 50%;
	margin-left: -300px;